body {
  display: grid;
  grid-template-columns: repeat(5);
  background-image: url('https://github.com/mwil3/drafted-crafts/blob/master/public/photos/web-agency-29200.jpg?raw=true');
  background-size: cover;
}
header {
  grid-template-columns: repeat(5);
  grid-row: 1;
  grid-column: 3;
  width: 75%;
  margin-top: 2%;
}


main {
  display: grid;
  grid-template-columns: repeat(5);
  grid-row: 2;
  grid-column: 3;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  width: 75%;

}
section {
  grid-row: 1;
  grid-column: 3;
}
p {
  grid-column: 5;
}
.aside {
  grid-row: 6;
  grid-column: 4;
}
footer {
  grid-row: 7;
}
