body {
  color: white;
}

.wrapper {
  grid-template-columns: repeat(5);
  /*grid-auto-rows: minmax(00px, auto);*/
  width: 100%;
  margin: auto;
}
h1 {
  display: grid;
  grid-column: 2;
}

/*background-color: orange;*/

.header {
  background-image: url('https://github.com/mwil3/drafted-crafts/blob/master/public/ricardo-gomez-angel-262359.jpg?raw=true');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 700px;
}

.wood-section {
  display: grid;
  padding-top: 25px;
  grid-template-columns: repeat(5);
  /*grid-auto-rows: minmax(100px, auto);*/
  padding-bottom: 15px;
  /*margin: auto;*/
  background-color: rgba(0, 0, 49, 0.3);
  position: absolute;
}


#wood {
  border: solid white 2px;
  grid-row: 1;
  grid-column: 2;
  width: 100%;
}

#wood3 {
  grid-gap: 5em;
  display: grid;
  grid-row: 2;
  grid-column: 3;
  justify-content: center;
  padding-top: 100px;
  position: absolute;
  background-color: transparent;
  width: 100%;
}

#wood-furn {
  grid-row: 1;
}

#wood-furn2 {
  grid-row: 1;
}

#wood-furn3 {
  grid-row: 1;
}

.laser-section {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(5);
  /*grid-auto-rows: minmax(100px, auto);*/
  padding-bottom: 15px;
  /*margin: auto;*/
  background-color: rgba(0, 0, 49, 0.3);
  position: absolute;
}

#laser {
  border: solid white 2px;
  grid-row: 1;
  grid-column: 2;
  width: 100%;
}

#laser3 {
  grid-gap: 5em;
  display: grid;
  grid-row: 2;
  grid-column: 3;
  justify-content: center;
  padding-top: 100px;
  position: absolute;
  background-color: transparent;
  width: 100%;
  }

#laser-furn {
  grid-row: 1;
}

#laser-furn2 {
  grid-row: 1;
}

#laser-furn3 {
  grid-row: 1;
}

.craft-section {
  display: grid;
  padding-top: 25px;
  grid-template-columns: repeat(5);
  /*grid-auto-rows: minmax(100px, auto);*/
  padding-bottom: 15px;
  /*margin: auto;*/
  background-color: rgba(0, 0, 49, 0.3);
  position: absolute;
}

#craft {
  border: solid white 2px;
  grid-row: 1;
  grid-column: 2;
  width: 100%;
}

#craft3 {
  grid-gap: 5em;
  display: grid;
  grid-row: 2;
  grid-column: 3;
  justify-content: center;
  padding-top: 100px;
  position: absolute;
  background-color: transparent;
  width: 100%;
}

#craft-furn {
  grid-row: 1;
}

#craft-furn2 {
  grid-row: 1;
}

#craft-furn3 {
  grid-row: 1;
}

.image-card {
  grid-row: 1;
  background-color: white;
  padding-bottom: 50px;
  border: solid grey 2px;
  padding: 10px;
  padding-bottom: 50px;
}

img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  padding-bottom: 15px;
  border-bottom: solid grey .5px;
}

h2, p {
  color: black;
}

#item-split-id {
  background-image: url('https://github.com/mwil3/drafted-crafts/blob/master/public/sean-afnan-244576.jpg?raw=true');
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 550px;
  grid-row: 3;
  grid-column: 3;
}

#item-split-id2 {
  background-image: url('https://github.com/mwil3/drafted-crafts/blob/master/public/stainless-images-110606.jpg?raw=true');
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 550px;
  grid-row: 4;
  grid-column: 3;
}

.item-split {}

#nav-footer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: solid grey 1px;
  border-bottom: solid grey 1px;
  background-image: url('https://github.com/mwil3/drafted-crafts/blob/master/public/hb-mertz-314528.jpg?raw=true');
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 350px;
  grid-row: 5;
  grid-column: 3;
}

#foot-left {
  grid-row: 2;
  grid-column: 1 display: flex;
  justify-content: center;
  padding-top: 10px;
  /*border-top: solid grey 1px;*/
  border-bottom: solid grey 1px;
  /*border-bottom: solid grey 1px;*/
}

#foot-center {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  /*border-top: solid grey 1px;*/
  border-bottom: solid grey 1px;
  /*border-bottom: solid grey 1px;*/
}

#foot-right {
  grid-row: 2;
  grid-column: 3;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  /*border-top: solid grey 1px;*/
  border-bottom: solid grey 1px;
  /*border-bottom: solid grey 1px;*/
}

#footer-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#left-cont {
  margin: auto;
  grid-row: 3;
}

#mid-cont {
  margin: auto;
  grid-row: 3;
}

#mid-right {
  margin: auto;
  grid-row: 3;
}

#copy-r {
  grid-row: 1;
  grid-column: 5;
}

@media (max-width: 400px) {
  body {
    width: 80vw;
  }
}

@media (min-width: 401px) and (max-width: 960px) {
  body {
    width: 100vw;
  }
}

@media (min-width: 961px) {
  body {
    width: 100vw;
  }
}
