.wrapper {
  display: grid;
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.header {
  background-color: orange;
}
#wood-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

section {
  background-color: green;
}
#wood-section {
  grid-column: 1;
  grid-row: 1
}
#wood-section-2 {
  display: grid;
  grid-column: 2/4;
  grid-row: 1;
  padding: 15px;
}
.image-title {
  padding: 15px;
  grid-row: 1;
  grid-column: 1;
}
img {
  border: solid black 2px;
  background: yellow;
  height: 8em;
  width: 8em;
  padding: .15em;
}
.photos {
  display: grid;
  grid-row: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.image-card{
  display: grid;
  box-shadow: 2px 1px 3px black;
  border: solid black 1px;
  padding: 1em;
  background-color: grey;
}
.p-title {
  grid-row: 1
  grid-column: 1;
}
#image-1 {
box-shadow: 3px 2px 2px black;
grid-row: 1;
grid-column: 2
}
#image-2 {
box-shadow: 3px 2px 2px black;
grid-row: 1;
grid-column: 2

}
#image-3 {
box-shadow: 3px 2px 2px black;
grid-row: 1;
grid-column: 2
}
