
body {
  display: grid;
  /*padding: auto;*/
  /*grid-gap: 10px;*/
  grid-template-columns: repeat(5);
  color: white;
  grid-auto-rows: minmax(100px, auto);
}
.header {
  /*background-color: orange;*/
  background-image: url('https://github.com/mwil3/drafted-crafts/blob/master/public/ricardo-gomez-angel-262359.jpg?raw=true');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 700px;
}
.wood-section {
  display: grid;
  grid-template-columns: repeat(5);
  /*grid-auto-rows: minmax(100px, auto);*/
  padding-bottom: 15px;
  /*margin: auto;*/
  background-color: rgba(0, 0, 49, 0.3);
  border: solid white 2px;

  position: absolute;
  /*width: 100%;*/

}
#wood {
  grid-row: 1;
  grid-column: 3;
  width: 100%;
}
#wood3 {
  grid-gap: 10em;
  display: grid;
  grid-row: 2;
  grid-column: 3;
  justify-content: center;
  padding-top: 100px;
  position: relative;

}

.image-card {
  grid-row: 1;
  background-color: white;
  padding-bottom: 50px;
  border: solid grey 2px;
  padding: 10px;
  padding-bottom: 50px;
}
#wood-furn {
  grid-row: 1;
}
#wood-furn2 {
  grid-row: 1;
}
#wood-furn3 {
  grid-row: 1;
}
img {
  width: 230px;
  height: 440px;
  padding-bottom: 15px;
  border-bottom: solid grey .5px;
}
h2,p {
  color: black;
}
#item-split-id {
  background-image: url('https://github.com/mwil3/drafted-crafts/blob/master/public/sean-afnan-244576.jpg?raw=true');
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 450px;
  grid-row: 3;
  grid-column: 3;
}
#item-split-id2 {
  background-image: url('https://github.com/mwil3/drafted-crafts/blob/master/public/stainless-images-110606.jpg?raw=true');
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 450px;
  grid-row: 4;
  grid-column: 3;
}
.item-split {
}
#nav-footer {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border-top: solid grey 1px;
  border-bottom: solid grey 1px;
  background-image: url('https://github.com/mwil3/drafted-crafts/blob/master/public/hb-mertz-314528.jpg?raw=true');
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 250px;
  grid-row: 5;
  grid-column: 3;
}
#foot-left {
  grid-row: 2;
  grid-column: 1
  display: flex;
  justify-content: center;
  padding-top: 10px;
  /*border-top: solid grey 1px;*/
  border-bottom: solid grey 1px;
  margin: 1em 9em;
  /*border-bottom: solid grey 1px;*/
}
#foot-center {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  /*border-top: solid grey 1px;*/
  border-bottom: solid grey 1px;
  margin: 1em 9em;
  /*border-bottom: solid grey 1px;*/
}
#foot-right {
  grid-row: 2;
  grid-column: 3;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  /*border-top: solid grey 1px;*/
  border-bottom: solid grey 1px;
  margin: 1em 9em;
  /*border-bottom: solid grey 1px;*/
}

#footer-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#left-cont {
  margin: auto;
  grid-row: 3;
}
#mid-cont {
  margin: auto;
  grid-row: 3;
}
#mid-right {
  margin: auto;
  grid-row: 3;
}
#copy-r {
  grid-row: 1;
  grid-column: 5;
}
